#TellimusteLisamineVorm{
    display: none;
}
#modal_log{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal_reg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal__window{
    position: relative;
    background-color: white;
    padding: 4em 2em;
}

.modal__close{
    position: absolute;
    top: -30px;
    right: 0;
}

#modal:not(:target){
    visibility: hidden;
    opacity: 0;
}